@font-face {
    font-family: "Geometric";
    src: url("ressources/Geometric.ttf");
}

.all{
    background: #fffff5;
}

/* =================================================
                    NAVBAR
================================================= */
.nb{
    
}
.nb img{
    height: 100%;
}
.nb .nb-item{
    text-decoration: none;
    color: black;
    font-family: "Geometric";
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-bottom: solid 2px;
}
.nb .nb-item:hover{
    background: #ffffe5;
}