.all{
    background: #fffff0;
    min-height: 1vw;
    overflow: none;
}
.qc{
    font-weight: bold;
    color: #404039;
}

/* =================================================
                    NAVBAR
================================================= */
.navi{
    background: #8f8f8a;
    display: block;
}
.navi img{
    padding: 1rem;
    width: 100%;
    max-width: 300px;
}
.nav-band{
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-lnk{
    color: #000;
    text-decoration: none;
    height: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 5px;
    margin: 0 5px;
}
.nav-lnk:hover{
    background: #11111120;
    transition: 0.5s;
}
.nav-current{
    color: #fff;
    font-weight: bold;
}

/* =================================================
                    PRESENTATION
================================================= */
#presentation{
    margin: 100px auto;
}

/* =================================================
                    PRESENTATION
================================================= */
.equipe-cv{
    text-align: right;
}

/* =================================================
                    FOOTER
================================================= */
footer{
    background: #8f8f8a;
    padding: 20px 0;
}
footer img{
    width: 100%;
    max-width: 400px;
    margin: 0 20px ;
}
.footer-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer ul{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
footer li{
    padding: 0 5px;
    font-weight: 550;
}